*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  background-color: #fff;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  padding: 50px;
}

.title {
  padding: 30px;
  font-weight: bold;
  margin: 0;
  background-color: #eee;
  font-size: 64px;
  color: #707070;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}